html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: #0b0b0b;
  overflow: hidden;
  color: #eaeaea;
  font-family: monospace;
}

.wiki-container {
  display: flex;
  gap: 24px;
  padding: 24px;
  box-sizing: border-box;
  width: 100%;
  height: 100vh; 
  overflow: hidden;
  align-items: stretch;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 0;
  height: 100%;
  background: #101010;
  border: 2px solid #2ce617;
  box-sizing: border-box;
}

.card {
  flex: 1;
  min-height: 0;
  overflow-y: auto;
  border: 2px solid #2ce617;
  box-shadow: 0 0 0 2px #2a2a2a;
  background: #101010;
  padding: 24px;
  box-sizing: border-box;
}

.sidebar {
  width: 380px;
  display: flex;
  flex-direction: column;
  min-height: 0;
  overflow: hidden;
  padding: 0px;
  box-sizing: border-box;
  height: 100%;
  background: #101010;
  border: 2px solid #2ce617;
}

.sidebar-inner {
  flex: 1;
  min-height: 0;
  overflow-y: auto;
  padding: 16px;
  box-sizing: border-box;
  background: #101010;
  box-shadow: 0 0 0 2px #2a2a2a;
}

.sticky-sidebar {
  position: sticky;
  top: 0;
}

h2, h3 {
  color: #7CFF6B;
  text-transform: uppercase;
  letter-spacing: 1px;
}

ul {
  padding-left: 18px;
  margin: 0;
}

li {
  margin-bottom: 6px;
}
.download-button {
  display: inline-block;
  padding: 10px 12px;
  background: #7CFF6B;
  color: #000;
  text-decoration: none;
  font-weight: bold;
  border: 2px solid #000;
  box-shadow: 2px 2px 0 #000;
}

.download-button:hover {
  background: #a6ff9a;
  cursor: pointer;
}
.code-box {
  background: #101010;
  color: #eaeaea;
  padding: 16px;
  border: 2px solid #2ce617;
  box-shadow: 0 0 0 2px #2a2a2a;
  border-radius: 0px;
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, monospace;
  position: relative;
  overflow-x: auto;
  max-width: 100%;
}

.code-box pre {
  margin: 0;
  white-space: pre;
}

.copy-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  background: #101010;
  color: #ffffff;
  border: 1px solid #2ce617;
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, monospace;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 12px;
}

.copy-btn:hover {
  background: #1a1a1a;
}